.edit-form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 3px #BBDEFB;
  padding: 10px;
}

.edit-form__input {
  width: 100%;
}

.edit-form__button {
  width: 100%;
}

.edit-form__select {
  display: flex;
  flex-direction: column;
}


