.account[data-v-821130] {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.account__icon[data-v-821130] {
  margin: 0;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  background-color: #4287f5;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
  flex-shrink: 0;
}
.account__content[data-v-821130] {
  display: flex;
  flex-direction: column;
}
.account__wrap[data-v-821130] {
  display: flex;
  flex-direction: row;
}
.account__value[data-v-821130] {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.account__name[data-v-821130] {
  margin: 0;
  font-size: 14px;
  margin-right: 5px;
}
.account__type[data-v-821130] {
  margin: 0;
  font-size: 14px;
  opacity: 0.5;
}.new-account[data-v-ab0372] {
  background-color: #4287f5;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.new-account__icon[data-v-ab0372] {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.new-account__text[data-v-ab0372] {
  margin: 0;
  color: #ffffff;
  font-weight: bold;
}.accounts[data-v-ae6ccb] {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 90%;
  display: grid;
  grid-gap: 15px;
  margin-bottom: 20px;
}.total[data-v-c12fee] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.total__value[data-v-c12fee] {
  margin: 0;
  font-size: 32px;
  line-height: 1.2;
  color: #4287f5;
}
.total__title[data-v-c12fee] {
  margin: 0;
  font-size: 22px;
  line-height: 1.2;
}.stats[data-v-c57a75] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90%;
}
.stats__image[data-v-c57a75] {
  width: 100%;
  height: auto;
}.rates[data-v-289b3d] {
  display: flex;
  margin-bottom: 20px;
  line-height: normal;
}
.rates__rate[data-v-289b3d] {
  margin: 0;
  margin-right: 10px;
  font-size: 18px;
}
.rates__rate[data-v-289b3d]:last-of-type {
  margin-right: 0;
}
.rates__value[data-v-289b3d] {
  color: #4287f5;
  font-weight: bold;
}.container[data-v-1e84fc] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  background-color: #f1f2f6;
  max-width: 500px;

  font-family: -apple-system,
  BlinkMacSystemFont,
  Segoe UI, Roboto,
  Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans,
  Helvetica Neue,
  sans-serif;
}
.logo[data-v-1e84fc] {
  margin: 0;
  font-size: 32px;
}