.accounts {
  display: grid;
  grid-gap: 15px;
  margin: 0 0 20px;
  padding: 0;

  list-style: none;
}

.accounts__item {
  display: flex;
  padding: 10px;

  background-color: var(--color-bg-contrast);
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.accounts__icon {
  margin-right: 10px;
}

.accounts__text-content {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10px;
}

.accounts__amount {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  word-break: break-word;
}

.accounts__details {
  line-height: normal;
  word-break: break-word;

  opacity: 0.6;
}

.accounts__edit {
  margin-left: auto;
}

.accounts__delete {
  margin-left: 10px;
}
