.account-details {
  display: flex;
  flex-direction: column;
}

.account-details__details {
  line-height: normal;
  word-break: break-word;

  opacity: 0.6;
}

.account-details__amount {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  word-break: break-word;
}
