.asset {
  display: flex;
  flex-direction: row;
  background-color: darksalmon;
  border-radius: 10px;
  padding: 10px;
}

.asset__icon {
  margin: 0;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  background-color: yellow;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  font-size: 26px;
  font-weight: bold;
  flex-shrink: 0;
}

.asset__content {
  display: flex;
  flex-direction: column;
}

.asset__wrap {
  display: flex;
  flex-direction: row;
}

.asset__value {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.asset__name {
  margin: 0;
  font-size: 14px;
  margin-right: 5px;
  opacity: 0.75;
}

.asset__type {
  margin: 0;
  font-size: 14px;
  opacity: 0.75;
}
